.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  padding: 3rem 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .item {
    .menu, .social-media {
      a {
        margin-right: 1.5rem;
        text-transform: uppercase;
        color: #fff;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}